name: Linter
on:
  push:
    paths:
      - '**.go'
      - '**.mod'
    branches:
      - main
  pull_request:
    paths:
      - '**.go'
      - '**.mod'
    branches:
      - main
      
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --timeout 5m
  test:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - name: Test
        run: go test ./...
